{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for book in books %}
<book>
    <h2><a class="bookTitle" href="/book/{{ book.id }}">{{ book.title }}</a></h2>
    <p>{{ book.summary }}</p>
</book>
{% endfor %}
{% endblock %}